/node_modules
/oh_modules
/local.properties
/.idea
**/build
/.hvigor
/.cxx
/.test
**/.preview
**/oh-package-lock.json
**/oh-package-lock.json5
models/yolov8n/*.pt
models/embedding/*.ms
# 构建生成文件
**/BuildProfile.ets
.clangd
.clang-tidy
